div#cpanel {
	float: left;
	width: 35%;
}

div#updatestatus {
	clear: both;
}

div#updatestatus label.label {
	font-weight: normal;
}

div#updatestatus label.label span {
	display: inline-block;
}

div#jchat_accordion_cpanel {
	float: right;
	width: 65%;
}

div#jchat_accordion_cpanel .accordion-inner {
	padding: 10px 10px;
}

label.label {
	display: inline-block;
	margin-bottom: 0;
	padding: 5px;
	min-width: 232px;
	font-size: 125%;
	text-align: center;
}

div.single_container {
	padding-left: 10px;
	height: 70px;
}

ul.cpanelinfo {
	margin-left: 9px;
}

ul.cpanelinfo li {
	margin: 0 5px 5px 0;
}

div#jchat_status {
	padding-top: 20px;
}

div#jchat_status div.accordion-inner {
	border-top: none !important;
}

div.single_stat_container {
	width: 120px;
	height: 144px;
	float: left;
}

div.single_stat_container:nth-child(2), div.single_stat_container:nth-child(5) {
	border-right: 1px solid #CCC;
	margin-right: 20px;
}

div.statcircle {
	display: block;
	border: 1px solid #ccc;
	background: white;
	text-align: center;
	width: 58px;
	height: 58px;
	line-height: 58px;
	margin: 0 0 10px 30px;
	float: left;
	position: relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}

div.statcircle span {
	width: 52px;
	height: 52px;
	line-height: 50px;
	position: relative;
	top: 2px;
	left: 2px;
	border: 1px solid #ccc;
	display: block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #f9f9f9;
	background-repeat: no-repeat;
	background-position: 50%;
}

[class^="icon-"].icon-large, [class*=" icon-"].icon-large {
	font-size: 22px;
}

ul.subdescription_stats {
	list-style: none;
	margin: 0 0 10px 10px;
	width: 100px;
}

ul.subdescription_stats li:first-child {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 4px;
	clear: both;
}

ul.subdescription_stats li {
	color: #808080;
	text-align: center;
}

div.chart_container {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #CCC;
}

#cpanel span.licensestatus {
	max-width: 90%;
	font-size: 125%;
	font-weight: normal;
	text-align: left;
	margin-top: 20px;
	padding: 5px;
	display: inline-block;
	word-break: break-word;
	white-space: normal;
}

#cpanel span.licensestatus.leftlabel {
	margin-right: 10px;
}

#cpanel span.licensestatus span {
	display: inline-block;
}

#cpanel span.icon-inline {
	margin-right: 5px;
}