/* Admin generic styles */

table.admintable {
	width: 100%;
}

table.admintable td.left_title {
	width: 20% !important;
}

table.admintable td.right_details {
	width: 80% !important;
}

table.admintable input, table.admintable textarea {
	width: 50% !important;
	min-width: 250px !important;
}
table.adminlist.emoticons td {
    vertical-align: top;
}

table.adminlist td label.label-sources {
	margin-right: 5px;
}

table.adminlist td textarea.emoticons {
	width: 100%;
	height: 80px;
}

table.adminlist td select.robots_directive {
	width: 160px;
}

table.adminlist td.link_loc {
	word-break: break-word;
}

table.adminlist td.link_loc a {
	min-width: 100px;
}

table.adminlist td.emoticonimage div.controls {
	float: none;
}

table.adminlist tr.subtitles td {
	font-size: 12px;
}

table.adminlist tr td.order {
	text-align: left;
}

button[data-action=save_emoticon] span.icon-save:before {
	color: #FFF;
}

table.adminlist span.labelemoticons {
	font-size: 12px;
}

table.adminlist button.btn[disabled=disabled] {
	opacity: 0.3;
}

#alert_append .input-group {
	margin: 10px 0 10px 0;
}

#jchat_alert_message {
	position: fixed;
	top: 35px;
	right: 1%;
	z-index: 99999;
}

span.input-group {
	max-width: 380px;
}

div.input-append.input-prepend.mediaimagefield {
	width: 100%;
}

div.input-append.input-prepend.mediaimagefield input[id^=jform_media] {
	max-width: 100px;
}

div.input-append.input-prepend.mediaimagefield input[id^=jform_media],
table.adminlist input[type=text].field-media-input.mediaimagefield {
	width: 60%;
	max-width: 100%;
}

@media (max-width: 980px) {
	div.input-append.input-prepend.mediaimagefield input[id^=jform_media],
	table.adminlist input[type=text].field-media-input.mediaimagefield {
		width: 30%;
		max-width: 100%;
	}
}

table.adminlist td.emoticonimage div.control-label {
	display: none;
}

input.keycode_invalid {
	border: 1px solid #F00;
	margin-right: 2px;
}

div.popover-content img {
	width: auto;
	height: auto;
}

.input-prepend a.button-clear.add-on {
	display: none;
}

img[data-mediapreview] {
	max-width: 18px !important;
}