/*
 * Created on : Jan 23, 2018, 3:12:46 PM
 * Author: Tran Trong Thang
 * Email: trantrongthang1207@gmail.com
 * Skype: trantrongthang1207
 */
img{
    max-width: 100%;
}
input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.hide{
    display: none !important;
}
#vina-slideshow-content526 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#vina-slideshow-content526 .news-caption {
    color: #ffffff;
}
#vina-slideshow-content526 .news-caption a {
    color: #f44336;
}
#vina-slideshow-content526 .news-category,
#vina-slideshow-content526 .news-category a {
    background-color: #01978c;
    color: #ffffff !important;
}
.sp-thumbnail-container {
    background-color: #f4f6f7;
}
#vina-slideshow-content526 .sp-thumbnail-image-container {
    height: 77px;
    width: 115px;
}
#vina-slideshow-content526 .sp-thumbnail-text {
    width: 100%;
}
.form-horizontal{
    background: #fff;
    padding: 15px 30px;
}
.intranet_profile .form-horizontal{
    padding: 0;
}
.text-lowercase{
    text-transform: lowercase;
}
.com_users .main,
.com_search .main{
    background: #fff;
    padding: 15px 30px;
}
.tv-content .item-page  h1 {
    margin-bottom: 20px;
    margin-top: 10px;
}
.tv-content .item-page h5 {
    margin-bottom: 15px;
}
.tv-tab .nav.flex-column li{
    padding-left: 0;
    border-bottom: 1px solid #bbbbbb;
}
.tv-tab .nav.flex-column li:last-child{
    border: none;
}
.tv-tab .dropdown-menu{
    border-radius: 0;
    border: 1px solid #575757;
    margin: 0;
}
.form-inline.brbt{
    border-bottom: 1px solid #575757;
}
.brbt .tv-tab > li{
    border-right: 1px solid #575757;;
}
.tv-tab li.parent .btn-group > a:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.tv-tab li.active .btn-group > a{
    color: #fff;
}
.blog-detail h2 {
    font-family: "clear-bold";
    font-size: 20px;
}
.form-search button{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #636363;
    font-family: "Futura-Std-Light";
    font-size: 14px;
    text-transform: uppercase;
}
.list-department:last-child{
    border: none;
}
.moduledownload h3{
    font-size: 22px;
    font-family: "FuturaStd-Heavy";
}
.moduledownload ul{
    margin: 0;
    padding: 0;
}
.moduledownload li{
    background: url('../images/icon-li.png') no-repeat left center;
    list-style: none;
    padding-left: 25px;
}
.input-search{
    margin-top: 0;
}
#jchat_base{
    width: auto !important;
}
#jchat_userstab {
    background-color: #00968d;
    border: 1px solid #00968d;
    color: #ffffff;
    width: 258px;
    font-family: "FuturaStd-Heavy";
}

#jchat_default_suggestion_tooltip .jchat_tooltip_content{
    border: 2px solid #00968d;
}
#jchat_default_suggestion_tooltip::before{
    background: #00968d;
}
.jchat_tab,
#jchat_base{
    height: 35px;
    font-size: 14px;
}
.jchat_tab span{
    line-height: 25px;
}
#jchat_userstab {
    background-color: #00968d;
    border: 1px solid #00968d;
    color: #ffffff;
    width: 258px;
}
#jchat_userstab.jchat_userstabclick,
.jchat_userstabtitle {
    background-color: #00968d !important;
    border: 1px solid #00968d;
    color: #ffffff !important;
}
#jchat_users_search,
#jchat_myusername{
    color: #ffffff;
}
.jchat_tab {
    background-color: #00968d;
    border-radius: 10px 10px 0 0
}
.jchat_tabpopup .jchat_tab{
    background: #00968d none repeat scroll 0 0;
    border-left: 1px solid #00968d;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #00968d;
    border-top: 1px solid #00968d;
    box-sizing: border-box;
    font-weight: bold;
    font-family: "FuturaStd-Heavy";
}
.jchat_tab span.jchat_timeinfo{
    line-height: 15px;
}
.jchat_walltab_popup .jchat_tabcontent.messagelist,
.jchat_tabcontent.messagelist,
#jchat_userstab_popup,
#jchat_optionsbutton_popup{
    border: 1px solid #00968d;
    background-color: #fff;
}
.jchat_tabcontent, #jchat_userstab.jchat_userstabclick,
div.jchat_tabcontenttext{
    background-color: #fff;
}
#jchat_userstab_popup .jchat_userstabtitle {
    padding: 10px 8px 20px;
}
.jchat_userstabsubtitle,
#jchat_userstab, #jchat_userstab.jchat_userstabclick {
    color: #fff !important;
}
#jchat_default_suggestion_tooltip .jchat_tooltip_content{

}
#jchat_userstab_icon{
    background-position: -32px -884px;
    height: 26px;
}
#jchat_userstab_text {
    margin-top: 5px;
}
#jchat_default_suggestion_tooltip{
    display: none !important;
}
#jchat_users_search{
    background-color: #fff !important;
    background-position: 0 10px !important;
    padding: 8px 3px;
    padding-left: 20px;
}
#jchat_users_search{
    color: #636363;
}
#jchat_optionsbutton, #jchat_closesidebarbutton, #jchat_maximizebutton, #jchat_loginbutton{
    border: none;
}
.jchat_optionsimages {
    background-position: -26px -301px!important;
}
.jchat_exitimages {
    background-position: -18px -255px!important;
}
footer .row > .custom{
    width: 100%;
}
.com_events #system-readmore{
    display: none;
}
.form-search {
    padding: 9px 0;
}
.inbox-page h3:hover{
    color: #2a99b7;
}