/*
 * Created on : Jan 19, 2018, 9:48:23 AM
 * Author: Tran Trong Thang
 * Email: trantrongthang1207@gmail.com
 * Skype: trantrongthang1207
 */
@font-face {
    font-family: "Futura-Std-Book";
    src: url("../fonts/Futura-Std-Book.otf") format("opentype");
}
@font-face {
    font-family: "Futura-Std-Light";
    src: url("../fonts/Futura-Std-Light.otf") format("opentype");
}
@font-face {
    font-family: "FuturaStd-Heavy";
    src: url("../fonts/FuturaStd-Heavy.otf") format("opentype");
}
@font-face {
    font-family: 'clear-medium';
    src: url('../fonts/clear-sans.medium.ttf.ttf') format('truetype');
}
@font-face {
    font-family: 'clear-medium-italic';
    src: url('../fonts/clear-sans.medium-italic.ttf') format('truetype');
}
@font-face {
    font-family: 'clear-bold';
    src: url('../fonts/clear-sans.bold.ttf') format('truetype');
}
@font-face {
    font-family: "HelveticaLTStd-Bold";
    src: url("../fonts/HelveticaLTStd-Bold.otf") format("opentype");
}
@font-face {
    font-family: "HelveticaLTStd-Roman";
    src: url("../fonts/HelveticaLTStd-Roman.otf") format("opentype");
}
@font-face {
    font-family: "MyriadPro-Bold";
    src: url("../fonts/MyriadPro-Bold.otf") format("opentype");
}
body{
    color: #636363;
    font-family: "Futura-Std-Light";
    font-size: 14px;
}
a{
    color: #636363;
    font-family: "Futura-Std-Light";
}
.h1, h1{
    font-size: 25px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: "Futura-Std-Book";

}
h3, h4, h5, h6{
    line-height: 20px;
}
p{
    font-size: 14px;
}
.img100{
    width: 100%;
}
.pl20{
    padding-left: 20px !important;
}
.pl0{
    padding-left: 0 !important;
}
.bgblue{
    background-color: #03ACD3;
    color: #fff;
}
.bgblueaf{
    color: #fff;
}
.bgblueaf::before {
    background: #03acd3 url("../images/icon-i.png") no-repeat scroll 0 0;
    color: #ffffff;
    content: "";
    height: 100%;
    left: 15px;
    position: absolute;
    top: 0;
    width: calc(100% - 15px);
    z-index: 0;
}
.bgwhite{
    background-color: #fff;
}
.box-content{
    padding: 15px 0 ;
    position: relative;
}
.tvmain{
    background: #E1E1E1;
    min-height: 500px;
}
a:hover{
    text-decoration: none;
    opacity: 0.8;
}
.btn{
    padding-left: 30px;
    padding-right: 30px;
}
.btn.focus, .btn:focus{
    box-shadow: none;
}
.tv-btn,
.tv-btn:hover{
    background-color: #AFBD21;
    border: 1px solid #AFBD21;
}
.minw50{
    min-width: 50px;
}
.minw35 {
    display: inline-block;
    margin-right: 20px;
    min-width: 35px;
    text-align: center;
}
.tv-caption {
    border-bottom: 1px solid #bbbbbb;
    padding: 30px 30px 15px;
}
.disinline{
    display: inline-block;
}
.text-fade{
    color: #B5B5B5;
}
.calander_fd{
    background:  #fff url('../images/icon-calander-fd.png') no-repeat scroll 0 0;
    color: #afbd22;
    padding: 7px 20px 0;
    vertical-align: bottom;
    text-align: center;
}
.icon-download{
    background:  #fff url('../images/download.png') no-repeat scroll right 0;
    color: #afbd22;
    padding: 7px 20px 0;
    vertical-align: bottom;
    text-align: center;
}
.color2398db{
    color: #2398db;
}
.font16{
    font-size: 16px;
}
.font25{
    font-size: 25px;
}
.font60{
    font-size: 60px;
}
.disblock{
    display: block !important;
}
.pd2030{
    padding: 20px 30px;
}
.pd1030{
    padding: 10px 30px;
}
.pd1015{
    padding: 10px 15px;
}
.posrel{
    position: relative;
}
/*form-search*/
.form-search{
    padding: 10px 0;
}
.input-search{
    margin-right: 20px;
    margin-top: 5px
}
.form-search img{
    padding-top: 5px;
    padding-bottom: 10px;
}
.input-search .input-group-prepend{

}
.bold{
    font-weight: 700;
}
.vina-slideshow-content .sp-thumbnail-title, .vina-slideshow-content .news-title a {
    font-family: "FuturaStd-Heavy";
    font-size: 16px;
    text-transform: none;
}
.vina-slideshow-content .news-category a{
    font-family: "FuturaStd-Heavy";
    font-size: 18px;
}
/*menu left*/
.menuleft {
    background: #636365;
    position: fixed;
    top: 119.5px;
    z-index: 99999;
}
.style2 .menuleft {
    top: 119.5px;
}
.menuleft .icon {
    display: inline-block;
    min-width: 35px;
    text-align: center;
}
.menuleft > ul > li > a .text{
    color: #ffffff;
    display: none;
    font-weight: bold;
    padding-left: 5px;
    text-transform: uppercase;
    vertical-align: middle;
}
.menu-dropdown{
    display: none;    
    color: #fff;
    padding-left: 50px;
}
.menu-dropdown a{
    color: #fff;
}
.menuleft > ul > li.nav-item{
    border-bottom: 1px solid #ADADAE;
}
.menuleft > ul > li.nav-item:first-child{
    border-top: none;
}
.menuleft li:hover{
    background-color: #009D92;
}
.menuleft > ul > li > .nav-link{
    padding: 12px 7px;
}
.menuleft > ul > li li .nav-link{
    padding: 2px 0;
}
.menuleft ul:hover .text,
.menuleft > ul:hover .menu-dropdown{
    display: inline-block;    
}
.menuleft ul:hover li{
    padding-right: 20px;
}
.menuleft li.active{
    background-color: #009e93;
}
.noicon{
    display: inline-block;
    min-width: 35px;
}
.menu-dropdown .noicon{
    display: none;
}
/*menu top*/
.menubg1{
    background-color: #2999B7;
}
.menubg2{
    background-color: #00978B;
}
.menubg3{
    background-color: #B3C135;
}
.menutop li{
    text-align: center;
    min-width: 116px;
}
.menutop li img{
    padding-top: 10px;
    padding-bottom: 10px;
}
.menutop a{
    color: #fff;
    position: relative;
}
.vina-slideshow-content .sp-thumbnails-container,
.vina-slideshow-content .sp-thumbnail-container{
    overflow: visible;
}
.sp-thumbnail-container.sp-selected-thumbnail{
    background: #01978C;
    color: #fff;
}
.sp-thumbnail-container.sp-selected-thumbnail:after{
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-right: 20px solid #01978c;
    border-top: 15px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    left: -20px;
    position: absolute;
    top: 35%;
    width: 0;
    z-index: 9999999;
}
.col-right .box-content{
    padding: 9.5px 15px;
}
.box-calendar .box-content{
    margin: 0 auto;
    width: 70%;
}
.box-calendar a{

}
.box-calendar b{
    color: #ffffff;
    display: block;
    padding: 5px 8px;
}
.tv-banner h1 {
    padding-bottom: 10px;
    padding-top: 32px;
    text-align: center;
}
.tv-banner p {
    padding-left: 5px;
}
/*box-slide*/
.announcement .box-content .row{
    margin-bottom: 8px;
}
.box-content .go-announcemen{
    display: none;
}
.announcement2 .box-content{
    padding-bottom: 40px;
}
.box-slide .box-content{
    padding-bottom: 50px;
}
.announcement2 .go-announcement,
.box-slide .box-content .go-laltest,
.box-slide .box-content .go-events{
    background: #ffffff url("../images/icon-next.png") no-repeat scroll 0 0;
    bottom: 0;
    height: 55px;
    position: absolute;
    right: 0;
    width: 70px;
}
.box-slide h2{
    font-size: 20px;
    line-height: 20px;
}
.box-slide h2 a{
    font-size: 14px;
    font-family: "Futura-Std-Book";
}
.box-title.brnone > h1{
    border: none;
}
.box-title > h1 {
    border-bottom: 1px solid #cccccc;
    color: #afbd22;
    padding: 7px 20px;
    vertical-align: bottom;
}
.item li{
    padding-bottom: 7px;
}
.box-title img {
    padding-right: 10px;
    padding-top: 3px;
    vertical-align: top
}
.box-title span {
    display: inline-block;
}
.owl-carousel .owl-item .text-fade img{
    display: inline-block;
    max-width: 100%;
    padding: 0 10px 0 0;
    vertical-align: top;
    width: auto;
} 
.owl-carousel .owl-item .text-fade img:nth-child(2){
    padding: 0px 10px;
}
p.text-fade{
    font-size: 11px;
}
.box-slide .owl-dots {
    position: absolute;
    right: 15px;
    top: -65px;
}
/*right*/
.last_login{
    font-size: 13px;
    padding-top: 10px;
}
.data_today{
    color: #03acd3;
    font-size: 22px;
}
.cala_day{
    background-color: #f84747;
    border-radius: 50%;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
}
.cala_arrow a{
    border-radius: 50%;
    padding: 5px 12px;
}
.cala_pre a{
    background: #fff url('../images/arrow-left.png') no-repeat scroll center center;
}
.cala_next a{
    background: #fff url('../images/arrow-right.png') no-repeat scroll center center;
}
/*announcement*/
.announcement .box-title{
    background:  #fff url('../images/icon_speck.png') no-repeat scroll 0 0;
    color: #afbd22;
    padding: 7px 20px 0;
    vertical-align: bottom;
    text-align: center;
}
.announcement .col-1.text-right {
    color: #afbd22;
    font-size: 30px;
    font-weight: bold;
}
.quick_links .box-title{
    background:  #fff url('../images/icon-quichlink.png') no-repeat scroll 0 0;
    color: #00978b;
    padding: 7px 20px 0;
    vertical-align: bottom;
    text-align: center;
}
.quick_links .box-title > h1{
    color: #00978b;
}
.quick_links .nav li{
    padding: 8px 0 8px 40px;
}
.quick_links .nav li span.noicon{
    background:  #00978b url('../images/icon-right.png') no-repeat scroll center center;
    border-radius: 50%;
    padding: 3px 10px;
    margin-right: 10px;
    min-width: auto;
}
/*list-events*/
.list-events{
    margin-bottom: 15px;
}
.list-events h5 {
    border-bottom: 1px solid #bbbbbb;
    padding: 20px 30px;
}
.list-events .media-body > div{
    padding: 10px 30px;
}
.media-body h5 a{
    font-family: 'FuturaStd-Heavy';
    font-size: 18px;
}
.list-events .text-fade img{
    display: inline-block;
    max-width: 100%;
    padding: 0 10px 0 0;
    vertical-align: top;
    width: auto;
} 
.list-events .text-fade img:nth-child(2){
    padding: 0px 10px;
}
.list-events div.text-fade{
    font-size: 12px;
}
.list-events .text-fade > span {
    display: inline-block;
    padding-top: 15px;
}
.tv-title {
    background: #00978b none repeat scroll 0 0;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px 30px;
}
.tv-title h5{
    font-family: "FuturaStd-Heavy";
    font-size: 22px;
    margin: 3px 0;
}
/*tv-content*/
.tv-content{
    padding: 15px 30px 30px;
}
.imgleft{
    float: left;
    padding-right: 20px;
}
.tv-date{
    font-size: 12px;
    color: #B5B5B5;
}
.tv-date img{
    padding-right: 10px;
    vertical-align: top;
}
/*pagination*/
.pagination-sm .page-item:first-child .page-link{
    border-radius: 0;
}
.page-item.active .page-link{
    background-color: #636363;
    border-color: #636363;
    color: #ffffff;
}
.pagination-sm .page-link{
    margin-left: 4px;
    color: #636363;
    font-family: "Futura-Std-Book";
}
.text-col.row{
    padding: 0 15px;
}
.text-col .col-md-4{
    padding: 0;
}
.text-col .col-md-4 img{
    width: 100%;
}
.bgvangnhat{
    background: #b3c135;
}
.brbt,
div.hr{
    border-bottom: 1px solid #bbbbbb;
}
div.hr{
    margin-left: -30px;
    margin-right: -30px;
}
.bgeee{
    background-color: #eee;
}
.tv-tab{
    padding: 0;
}
.tv-tab li:first-child{
    padding-left: 15px;
}
.brbt .tv-tab .btn-light {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #212529;
    line-height: 35px;
    margin: 0
}
.brbt .tv-tab li.active,
.brbt .tv-tab li.active > a,
.brbt .tv-tab li.active button,
.brbt .tv-tab li button:focus,
.brbt .tv-tab li .btn-light.active:not(:disabled):not(.disabled), 
.brbt .tv-tab li .btn-light:active:not(:disabled):not(.disabled), 
.brbt .tv-tab li .show > .btn-light.dropdown-toggle{
    background: #00978B;
    border-color: #00978B;
    color: #fff;
}
.brbt .tv-tab .btn-light.active:focus:not(:disabled):not(.disabled),
.brbt .tv-tab .btn-light:active:focus:not(:disabled):not(.disabled),
.brbt .tv-tab .show > .btn-light.dropdown-toggle:focus{
    box-shadow: none;
}
.caption {
    background: #b3c135 none repeat scroll 0 0;
    color: #ffffff;
    padding: 10px 30px;
}

/*blog*/
.blog-date{
    color: #282828;
}
.box-department h4 a{
    color: #2398db;
    font-family: 'clear-bold';
    font-size: 20px;
}
.short-description{
    font-family: Calibri;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-detail .color2398db{
    display: inline-block;
    padding-right: 40px;
}
.blog-detail .blog-date{
    display: inline-block;
}
.description{
    font-family: Calibri;
    font-size: 16px;
    font-weight: 300;
}
/*moduledownload*/
.moduledownload .row{
    padding-bottom: 10px;
    padding-top: 10px;
}

/*inbox-header*/
.inbox-page,
.inbox-announcement{
    color: #b2b2b2;
    font-family: "HelveticaLTStd-Roman";
    font-weight: 300;
}
.inbox-page h5{
    margin: 3px 0;
}
.inbox-header{
    background: #2A99B7;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px 15px 10px 30px;
}
.inbox-header a{
    color: #ffffff;
    font-size: 20px;
    padding: 0 0 0 14px;
    font-family: "HelveticaLTStd-Roman";
    font-weight: 300;
}
.inbox-header a.bold{
    font-family: "HelveticaLTStd-Bold";  
}
.icon-mess{
    background: rgba(0, 0, 0, 0) url("../images/icon_mess.png") no-repeat scroll center center;
    color: #afbd22;
    padding: 1px 20px 0;
    text-align: center;
    vertical-align: bottom;
}
.tv-desc{
    background: rgba(0, 0, 0, 0) url("../images/arrow-down.png") no-repeat scroll left center;
    color: #afbd22;
    padding: 0 2px;
    text-align: center;
    vertical-align: middle;
}
.tv-asc{
    background: rgba(0, 0, 0, 0) url("../images/arrow-up.png") no-repeat scroll left center;
    color: #afbd22;
    padding: 0 2px;
    text-align: center;
    vertical-align: bottom;
}
.text-mess{
    font-size: 12px;
}
.inbox-mess{
    margin-bottom: 15px;
}
.box-mess{
    position: relative;
    padding: 15px 30px;
}
.box-mess h3{
    font-family: "HelveticaLTStd-Bold";
}
.box-mess.unread:after{
    background: #2a99b7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}
.box-mess.unread h3{
    color: #2a99b7;
}
.box-mess h3{
    color: #636363;
    font-size: 18px;
}
.box-mess h3:hover{
    cursor: pointer;
}
.box-mess h3 .mess-date{
    color: #7e7e7e;
    font-size: 14px;
    font-family: "HelveticaLTStd-Roman";
}
.content-mess{
    display: none;
}
.more-less{
    background: rgba(0, 0, 0, 0) url("../images/icon-less.png") no-repeat scroll center center;
    color: #afbd22;
    height: 25px;
    padding: 0 20px;
    position: absolute;
    right: -14px;
    text-align: center;
    top: -5px;
    vertical-align: bottom;
    display: none;
}
.read-more .more-less{
    display: block;
}
.tv-badge {
    background: #ff0000 none repeat scroll 0 0;
    border-radius: 50%;
    padding: 0 5px;
    position: absolute;
    right: 35px;
    top: 10px;
}
/*@media(min-width: 768px){
    .pr0{
        padding-right: 0 !important;
    }
    .pl0{
        padding-left: 0 !important;
    }
}
@media(max-width: 768px){
    .bgblueaf::before {
        background-color: #03acd3;
        color: #ffffff;
        content: "";
        height: 100%;
        left: 15px;
        position: absolute;
        top: 0;
        width: calc(100% - 30px);
        z-index: 0;
    }
}*/
.caption h5,
.tv-content h5,
.brbt a,
.brbt button{
    font-size: 18px;
    margin: 3px 0;
}
.brbt .tv-tab > li {
    background-color: rgba(0, 0, 0, 0);
    /*border-left: 1px solid #bbbbbb;*/
    border-right: 1px solid #bbbbbb;
    border-radius: 0;
}
.tv-content h5,
.tv-content h4,
.tv-content h1{
    font-family: 'FuturaStd-Heavy';
}
.tv-content h4,
.tv-content h1{
    font-size: 22px;
}

.tooltip-titile{
    font-family: 'FuturaStd-Heavy';
    font-size: 14px;
}
.tooltip-time{
    font-family: "Futura-Std-Book";
}
.calmonth_table h4{
    font-weight: 300;
}
.box-calendar .calbottom_border b{
    color: #0f4287;
}
.com_inbox .tv-title h5{
    font-size: 18px;
}
.inbox-header a.newest-mess{
    font-size: 15px;
}
.inbox-header a.unread-mess{
    font-family: "Futura-Std-Light";
}
.com_inbox .box-mess h3{
    padding-top: 7px;
}
.blog-detail h1{
    font-family: 'clear-bold';
    font-size: 20px;
}
.description{
    font-size: 16px;
    font-family: "Futura-Std-Light";
}
.inbox-announcement .box-mess{
    padding: 15px 30px 15px 15px;
}
.inbox-announcement h5{
    font-size: 18px;
    margin: 3px 0;
}
.intranet_profile h5{
    font-size: 18px;
    margin: 3px 0;
    font-family: "Futura-Std-Book";
}
.intranet_profile,
.intranet_profile .col-form-label{
    font-size: 13px;
}
.intranet_profile .col-form-label{
    padding-right: 0;
}
.intranet_profile .action .btn {
    font-size: 12px;
    min-width: 200px;
}
.intranet_profile .form-control{
    font-size: 13px;
}
.content-body,
.media-body,
.events_detail .tv-content{
    font-family: "Futura-Std-Book";
}
.tv-content > h1{
    margin-top: 10px;
    margin-bottom: 20px;
}
.tv-content > h5 {
    margin-bottom: 15px;
}
.style2 .box-slide .box-content{
    padding-bottom: 59px;
}
.style2 .col-right .box-content {
    padding: 8px 15px;
}
.style2 .announcement2 .box-content{
    padding-bottom: 38px;    
}
.quick_links .owl-dots{
    position: absolute;
    right: 30px;
    top: -25px;
}
