<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess unread">
        <h3>Welcome to NGC intranet <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">A big welcome to you joining our NGC big family. Here are some useful tools that you need to know: please read through all the article...</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess unread">
        <h3>Beware of XXX virus <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Please make sure you do not download any file from untrusted webpage.</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess unread">
        <h3>System Updates will be started from 12am tonight till 8am tomorrow <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Please be notify that NGC intranet system will be down from 12am tonight for maintenance, and resume back on 8am tomorrow.</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess">
        <h3>System message <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Donec condimentum massa quis urna accumsan fringilla. Duis a lobortis massa. Sed non ipsum orci. Phasellus vehicula...</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess">
        <h3>System message <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Etiam facilisis ipsum ac erat elementum, eget venenatis lectus suscipit risus sapien vestibulum libero, a posuere urna eros a ipsum.</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess unread">
        <h3>Welcome to NGC intranet <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">A big welcome to you joining our NGC big family. Here are some useful tools that you need to know: please read through all the article...</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess unread">
        <h3>Beware of XXX virus <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Please make sure you do not download any file from untrusted webpage.</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess unread">
        <h3>System Updates will be started from 12am tonight till 8am tomorrow <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Please be notify that NGC intranet system will be down from 12am tonight for maintenance, and resume back on 8am tomorrow.</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess">
        <h3>System message <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Donec condimentum massa quis urna accumsan fringilla. Duis a lobortis massa. Sed non ipsum orci. Phasellus vehicula...</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess">
        <h3>System message <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Etiam facilisis ipsum ac erat elementum, eget venenatis lectus suscipit risus sapien vestibulum libero, a posuere urna eros a ipsum.</div>
        <div class="content-mess"></div>
    </div>
</div>