<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess">
        <h3>System message <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Donec condimentum massa quis urna accumsan fringilla. Duis a lobortis massa. Sed non ipsum orci. Phasellus vehicula...</div>
        <div class="content-mess"></div>
    </div>
</div>
<div class="bgwhite pd1015 inbox-mess">
    <div class="box-mess">
        <h3>System message <span class="pull-right mess-date">20/04/2016 10:16 am</span><span class="more-mess"></span></h3>
        <div class="sub-mess">Etiam facilisis ipsum ac erat elementum, eget venenatis lectus suscipit risus sapien vestibulum libero, a posuere urna eros a ipsum.</div>
        <div class="content-mess"></div>
    </div>
</div>