/*
# ------------------------------------------------------------------------
# Vina Article Slideshow for Joomla 3
# ------------------------------------------------------------------------
# Copyright(C) 2015 www.VinaGecko.com. All Rights Reserved.
# @license http://www.gnu.org/licenseses/gpl-3.0.html GNU/GPL
# Author: VinaGecko.com
# Websites: http://vinagecko.com
# Forum: http://vinagecko.com/forum/
# ------------------------------------------------------------------------
*/

.vina-slideshow-content.slider-pro {
	position: relative;
	margin: 0 auto;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	overflow: hidden;
}
.vina-slideshow-content .sp-slides-container {
	position: relative;
}
.vina-slideshow-content .news-caption {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0 0;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
	color: #FFF;
}
.vina-slideshow-content .sp-mask {
	position: relative;
	overflow: hidden;
}
.vina-slideshow-content .sp-slides {
	position: relative;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.vina-slideshow-content .sp-slide {
	position: absolute;
}

.vina-slideshow-content .sp-image-container {
	overflow: hidden;
}
.vina-slideshow-content .sp-image {
	position: relative;
	display: block;
	border: none;
}
.vina-slideshow-content .sp-no-js {
	overflow: hidden;
	max-width: 100%;
}

/* Thumbnails
--------------------------------------------------*/
.vina-slideshow-content .sp-thumbnails-container {
	position: relative;
	overflow: hidden;
}
.vina-slideshow-content .sp-top-thumbnails,
.vina-slideshow-content .sp-bottom-thumbnails  {
	left: 0;
	margin: 0 auto;
}
.vina-slideshow-content .sp-top-thumbnails {
	position: absolute;
	top: 0;
	margin-bottom: 4px;
}
.vina-slideshow-content .sp-bottom-thumbnails {
	margin-top: 4px;
}
.vina-slideshow-content .sp-left-thumbnails,
.vina-slideshow-content .sp-right-thumbnails {
	position: absolute;
	top: 0;
}
.vina-slideshow-content .sp-right-thumbnails {
	right: 0;
	margin-left: 0;
}
.vina-slideshow-content .sp-left-thumbnails {
	left: 0;
	margin-right: 0;
}
.vina-slideshow-content .sp-thumbnails {
	position: relative;
}
.vina-slideshow-content .sp-thumbnail {
    border: none;
}
.vina-slideshow-content .sp-thumbnail-container {
	position: relative;
	display: block;
	overflow: hidden;
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Horizontal thumbnails
------------------------*/
.vina-slideshow-content .sp-top-thumbnails .sp-thumbnail-container:first-child,
.vina-slideshow-content .sp-bottom-thumbnails .sp-thumbnail-container:first-child {
	margin-left: 0;
}
.vina-slideshow-content .sp-top-thumbnails .sp-thumbnail-container:last-child,
.vina-slideshow-content .sp-bottom-thumbnails .sp-thumbnail-container:last-child {
	margin-right: 0;
}


/* Vertical thumbnails 
----------------------*/
.vina-slideshow-content .sp-left-thumbnails .sp-thumbnail-container,
.vina-slideshow-content .sp-right-thumbnails .sp-thumbnail-container {
	
}
.vina-slideshow-content .sp-left-thumbnails .sp-thumbnail-container:first-child,
.vina-slideshow-content .sp-right-thumbnails .sp-thumbnail-container:first-child {
	margin-top: 0;
}
.vina-slideshow-content .sp-left-thumbnails .sp-thumbnail-container:last-child,
.vina-slideshow-content .sp-right-thumbnails .sp-thumbnail-container:last-child {
	margin-bottom: 0;
}
.vina-slideshow-content .sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
}

/* Left thumbnails with pointer
-------------------------------*/
.vina-slideshow-content .sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
	content: '';
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}

/* Bottom thumbnails with pointer
---------------------------------*/
.vina-slideshow-content .sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail {
	position: absolute;
	margin-top: 0 !important;
}
.vina-slideshow-content .sp-bottom-thumbnails .sp-thumbnail-container:first-child, 
.vina-slideshow-content .sp-top-thumbnails .sp-thumbnail-container:first-child {
    margin-left: 0;
}
.vina-slideshow-content .sp-bottom-thumbnails .sp-thumbnail-container, 
.vina-slideshow-content .sp-top-thumbnails .sp-thumbnail-container {
    margin-left: 2px;
    margin-right: 2px;
}
.vina-slideshow-content .sp-bottom-thumbnails .sp-thumbnail-title {
    margin-bottom: 5px;
}
.vina-slideshow-content .sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail::before {
    border-bottom: 5px solid red;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
}

/* Top thumbnails with pointer
------------------------------*/
.vina-slideshow-content .sp-top-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
	content: '';
	position: absolute;
	width: 100%;
	bottom: 0;
}

/* Layers
--------------------------------------------------*/
.vina-slideshow-content .sp-layer {
	position: absolute;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-backface-visibility: hidden;
}
.vina-slideshow-content .sp-black {
	color: #FFF;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
}
.vina-slideshow-content .sp-white {
	color: #000;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.7);
}
.vina-slideshow-content .sp-rounded {
	border-radius: 10px;
}
.vina-slideshow-content .sp-padding {
	padding: 8px 10px;
}

/* Touch Swipe
--------------------------------------------------*/
.vina-slideshow-content .sp-grab {
	cursor: url(../images/openhand.cur), move;
}
.vina-slideshow-content .sp-grabbing {
	cursor: url(../images/closedhand.cur), move;
}
.vina-slideshow-content .sp-selectable {
	cursor: default;
}


/* Arrows
--------------------------------------------------*/
.vina-slideshow-content .sp-arrows {
	position: absolute;
}
.vina-slideshow-content .sp-fade-arrows {
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.vina-slideshow-content .sp-slides-container:hover .sp-fade-arrows {
	opacity: 1;
}
.vina-slideshow-content.sp-horizontal .sp-arrows {
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: -15px;
}
.vina-slideshow-content.sp-vertical .sp-arrows {
	height: 100%;
	left: 50%;
	top: 0;
	margin-left: -10px;
}
.vina-slideshow-content .sp-arrow {
	position: absolute;
	display: block;
	width: 20px;
	height: 30px;
	cursor: pointer;
}
.vina-slideshow-content.sp-vertical .sp-arrow {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.vina-slideshow-content.sp-horizontal .sp-previous-arrow {
	left: 20px;
}
.vina-slideshow-content.sp-horizontal .sp-next-arrow {
	right: 20px;
}
.vina-slideshow-content.sp-vertical .sp-previous-arrow {
	top: 20px;
}
.vina-slideshow-content.sp-vertical .sp-next-arrow {
	bottom: 20px;
}
.vina-slideshow-content .sp-previous-arrow:before,
.vina-slideshow-content .sp-previous-arrow:after,
.vina-slideshow-content .sp-next-arrow:before,
.vina-slideshow-content .sp-next-arrow:after {
	content: '';
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: #FFF;
}
.vina-slideshow-content .sp-previous-arrow:before {
	left: 30%;
	top: 0;
	-webkit-transform: skew(145deg, 0deg);
	-ms-transform: skew(145deg, 0deg);
	transform: skew(145deg, 0deg);
}
.vina-slideshow-content .sp-previous-arrow:after {
	left: 30%;
	top: 50%;
	-webkit-transform: skew(-145deg, 0deg);
	-ms-transform: skew(-145deg, 0deg);
	transform: skew(-145deg, 0deg);
}
.vina-slideshow-content .sp-next-arrow:before {
	right: 30%;
	top: 0;
	-webkit-transform: skew(35deg, 0deg);
	-ms-transform: skew(35deg, 0deg);
	transform: skew(35deg, 0deg);
}
.vina-slideshow-content .sp-next-arrow:after {
	right: 30%;
	top: 50%;
	-webkit-transform: skew(-35deg, 0deg);
	-ms-transform: skew(-35deg, 0deg);
	transform: skew(-35deg, 0deg);
}
.vina-slideshow-content .ie8 .sp-arrow,
.vina-slideshow-content .ie7 .sp-arrow {
	width: 0;
	height: 0;
}
.vina-slideshow-content .ie8 .sp-arrow:before,
.vina-slideshow-content .ie8 .sp-arrow:after,
.vina-slideshow-content .ie7 .sp-arrow:before,
.vina-slideshow-content .ie7 .sp-arrow:after {
	content: none;
}
.vina-slideshow-content.ie8.sp-horizontal .sp-previous-arrow,
.vina-slideshow-content.ie7.sp-horizontal .sp-previous-arrow {
	border-right: 20px solid #FFF;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.vina-slideshow-content.ie8.sp-horizontal .sp-next-arrow,
.vina-slideshow-content.ie7.sp-horizontal .sp-next-arrow {
	border-left: 20px solid #FFF;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.vina-slideshow-content.ie8.sp-vertical .sp-previous-arrow,
.vina-slideshow-content.ie7.sp-vertical .sp-previous-arrow {
	border-bottom: 20px solid #FFF;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}
.vina-slideshow-content.ie8.sp-vertical .sp-next-arrow,
.vina-slideshow-content.ie7.sp-vertical .sp-next-arrow {
	border-top: 20px solid #FFF;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

/* Thumbnail Arrows
--------------------------------------------------*/
.vina-slideshow-content .sp-thumbnail-arrows {
	position: absolute;
}
.vina-slideshow-content .sp-fade-thumbnail-arrows {
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.vina-slideshow-content .sp-thumbnails-container:hover .sp-fade-thumbnail-arrows {
	opacity: 1;
}
.vina-slideshow-content .sp-top-thumbnails .sp-thumbnail-arrows,
.vina-slideshow-content .sp-bottom-thumbnails .sp-thumbnail-arrows {
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -12px;
}
.vina-slideshow-content .sp-left-thumbnails .sp-thumbnail-arrows,
.vina-slideshow-content .sp-right-thumbnails .sp-thumbnail-arrows {
	height: 100%;
	top: 0;
	left: 50%;
	margin-left: -7px;
}
.vina-slideshow-content .sp-thumbnail-arrow {
	position: absolute;
	display: block;
	width: 16px;
	height: 26px;
	cursor: pointer;
}
.vina-slideshow-content .sp-left-thumbnails .sp-thumbnail-arrows .sp-thumbnail-arrow,
.vina-slideshow-content .sp-right-thumbnails .sp-thumbnail-arrows .sp-thumbnail-arrow {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.vina-slideshow-content .sp-top-thumbnails .sp-previous-thumbnail-arrow,
.vina-slideshow-content .sp-bottom-thumbnails .sp-previous-thumbnail-arrow {
	left: 0px;
}
.vina-slideshow-content .sp-top-thumbnails .sp-next-thumbnail-arrow,
.vina-slideshow-content .sp-bottom-thumbnails .sp-next-thumbnail-arrow {
	right: 0px;
}
.vina-slideshow-content .sp-left-thumbnails .sp-previous-thumbnail-arrow,
.vina-slideshow-content .sp-right-thumbnails .sp-previous-thumbnail-arrow {
	top: 0px;
}
.vina-slideshow-content .sp-left-thumbnails .sp-next-thumbnail-arrow,
.vina-slideshow-content .sp-right-thumbnails .sp-next-thumbnail-arrow {
	bottom: 0px;
}
.vina-slideshow-content .sp-previous-thumbnail-arrow:before,
.vina-slideshow-content .sp-previous-thumbnail-arrow:after,
.vina-slideshow-content .sp-next-thumbnail-arrow:before,
.vina-slideshow-content .sp-next-thumbnail-arrow:after {
	content: '';
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: #FFF;
}
.vina-slideshow-content .sp-previous-thumbnail-arrow:before {
	left: 30%;
	top: 0;
	-webkit-transform: skew(145deg, 0deg);
	-ms-transform: skew(145deg, 0deg);
	transform: skew(145deg, 0deg);
}
.vina-slideshow-content .sp-previous-thumbnail-arrow:after {
	left: 30%;
	top: 50%;
	-webkit-transform: skew(-145deg, 0deg);
	-ms-transform: skew(-145deg, 0deg);
	transform: skew(-145deg, 0deg);
}
.vina-slideshow-content .sp-next-thumbnail-arrow:before {
	right: 30%;
	top: 0;
	-webkit-transform: skew(35deg, 0deg);
	-ms-transform: skew(35deg, 0deg);
	transform: skew(35deg, 0deg);
}
.vina-slideshow-content .sp-next-thumbnail-arrow:after {
	right: 30%;
	top: 50%;
	-webkit-transform: skew(-35deg, 0deg);
	-ms-transform: skew(-35deg, 0deg);
	transform: skew(-35deg, 0deg);
}
.vina-slideshow-content .ie8 .sp-thumbnail-arrow,
.vina-slideshow-content .ie7 .sp-thumbnail-arrow {
	width: 0;
	height: 0;
}
.vina-slideshow-content .ie8 .sp-thumbnail-arrow:before,
.vina-slideshow-content .ie8 .sp-thumbnail-arrow:after,
.vina-slideshow-content .ie7 .sp-thumbnail-arrow:before,
.vina-slideshow-content .ie7 .sp-thumbnail-arrow:after {
	content: none;
}
.vina-slideshow-content .ie8 .sp-top-thumbnails .sp-previous-thumbnail-arrow,
.vina-slideshow-content .ie8 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow,
.vina-slideshow-content .ie7 .sp-top-thumbnails .sp-previous-thumbnail-arrow,
.vina-slideshow-content .ie7 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow {
	border-right: 12px solid #FFF;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}
.vina-slideshow-content .ie8 .sp-top-thumbnails .sp-next-thumbnail-arrow,
.vina-slideshow-content .ie8 .sp-bottom-thumbnails .sp-next-thumbnail-arrow,
.vina-slideshow-content .ie7 .sp-top-thumbnails .sp-next-thumbnail-arrow,
.vina-slideshow-content .ie7 .sp-bottom-thumbnails .sp-next-thumbnail-arrow {
	border-left: 12px solid #FFF;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}
.vina-slideshow-content .ie8 .sp-left-thumbnails .sp-previous-thumbnail-arrow,
.vina-slideshow-content .ie8 .sp-right-thumbnails .sp-previous-thumbnail-arrow,
.vina-slideshow-content .ie7 .sp-left-thumbnails .sp-previous-thumbnail-arrow,
.vina-slideshow-content .ie7 .sp-right-thumbnails .sp-previous-thumbnail-arrow {
	border-bottom: 12px solid #FFF;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}
.vina-slideshow-content .ie8 .sp-left-thumbnails .sp-next-thumbnail-arrow,
.vina-slideshow-content .ie8 .sp-right-thumbnails .sp-next-thumbnail-arrow,
.vina-slideshow-content .ie7 .sp-left-thumbnails .sp-next-thumbnail-arrow,
.vina-slideshow-content .ie7 .sp-right-thumbnails .sp-next-thumbnail-arrow {
	border-top: 12px solid #FFF;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.vina-slideshow-content  h3.news-title {
    font-size: 18px;
    line-height: 20px;
}
.vina-slideshow-content .readmore {
	line-height: 35px;
}
.vina-slideshow-content .sp-thumbnail-title,
.vina-slideshow-content .news-title a {
	text-transform: uppercase;
}
.vina-slideshow-content .sp-thumbnail {
	padding: 10px 20px;
}
.vina-slideshow-content .sp-thumbnail-image-container {
	float: left;
	overflow: hidden;
	padding-right: 8px;
}
.vina-slideshow-content .sp-thumbnail-text {
	float: right;
	box-sizing: border-box;
}
.vina-slideshow-content .news-category a {
	text-transform: uppercase;
}

@media (max-width: 640px) {
	.vina-slideshow-content h3.news-title a {
		font-size: 12px;
	}

	.vina-slideshow-content .hide-small-screen {
		display: none;
	}
}

@media (max-width: 320px) {
	.vina-slideshow-content .news-category {
		display: none;
	}
}