/*******************************Calendar Top Navigation*********************************/
.tooltip_templates{
    display: none;
}
.tooltipster-content .tooltip-time{
    text-transform: lowercase;
}
.box-right .box-calendar .box-content{
    width: calc(100% - 30px);
}
div#calendar{
    background-color: #03acd3;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    margin: 0 auto;
    max-width: 300px;
    padding: 0 20px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
div#calendar a.prev{
    background: #fff url('../images/arrow-left.png') no-repeat scroll center center;
}
div#calendar a.next{
    background: #fff url('../images/arrow-right.png') no-repeat scroll center center;
}
div#calendar .title {
    display: inline-block;
    font-weight: 300;
}
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color:   #787878 ;      
}

div#calendar div.header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

div#calendar div.header a.prev,div#calendar div.header a.next{ 
    border-radius: 50%;
    display: block;
    float: left;
    line-height: 29px;
    padding: 0 12px;
}

div#calendar div.header span.title{

}

div#calendar div.header a.prev{
    float: left;
}

div#calendar div.header a.next{
    float: right;
}




/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
}



div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}

div#calendar ul.label li{
    color: #0f4287;
    float: left;
    font-weight: 700;
    list-style-type: none;
    margin: 5px 5px 0 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}


div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/** overall width = width+padding-right**/
div#calendar ul.dates li{
    border-radius: 50%;
    float: left;
    list-style-type: none;
    margin: 2px 7px 2px 2px;
    padding: 3px 0;
    text-align: center;
    vertical-align: middle;
    width: 26px;
}
div#calendar ul.dates li.today{
    background: #fff;
    color: #03acd3;
}
div#calendar ul.dates li.today.cala_day{
    color: #fff;
}
div#calendar ul.dates li.cala_day{
    background-color: #f84747;    
}
:focus{
    outline:none;
}
.dates li.start:not(:nth-child(1)),
li.clear{
    clear:both;
}     